.home .createTest .card-img-top
{
    font-size: 150pt;
    line-height: 1;

    padding: 40px;

    text-align: center;

    opacity: .2;
}

.home .createTest .card
{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5)) !important;
}

.home .card-text
{
    text-align: right;
}

.home .flex-item
{
    padding-right: 10px;
    padding-left: 10px;
}

.home .flex-item a
{
    display: block;

    height: 100%;

    text-decoration: none;
}

.home .card-subtitle
{
    text-align: justify;
}

.card
{
    background-color: rgba(255, 255, 255, .5) !important;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
}

.panel .card {
    box-shadow: none !important;
}

.home .card {
    max-width: 302px;
}

.home .card,
.panel .card
{
    position: relative;

    display: inline-flex;

    height: 100%;

    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
            transition: all .6s cubic-bezier(.165, .84, .44, 1);

    color: black !important;
    border-radius: 5px;
}

.home .card:after,
.panel .card:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
            transition: all .6s cubic-bezier(.165, .84, .44, 1);

    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.home .card:hover,
.panel .card:hover
{
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

.home .card:hover::after,
.panel .card:hover::after
{
    opacity: 1;
}

.home .card-block
{
    display: flex;
    flex-direction: column;
}

.home .card-subtitle
{
    flex: 1;
}

.login
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.login .col:nth-child(1)
{
    padding-left: 0;
}

.login .col:nth-child(2)
{
    padding-right: 0;
}

.login .card
{
    max-width: 600px;
}

.login .card button
{
    margin-top: 15px;
}

.login .card form
{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.form-check-input
{
    width: 30px;
    height: 30px;
}

.form-check-label
{
    width: 100%;
    margin-top: 10px;

    vertical-align: bottom;
}

.form-check-label
{
    margin-left: 15px;
}

.form-check-label .checkBox
{
    max-width: 10%;
}

.form-check-label .checkBoxLabel
{
    max-width: 90%;
    padding-left: 15px;
}

.form-check-label .checkBoxLabel
{
    font-size: 16pt;

    width: 100%;

    vertical-align: bottom;
}

.login .alert
{
    width: 100%;
    margin: 0;
    margin-top: 10px !important;
}
