@font-face
{
    font-family: RobotoCondensed;

    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face
{
    font-family: Lobster;

    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face
{
    font-family: OpenSans-SemiBoldItalic;

    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

*:not(.navbar *)
{
    font-family: RobotoCondensed !important;
}

html,
body,
body > div,
.container-fluid,
body > div > div
{
    min-width: 100%;
    min-height: 100%;
}

.react-selectize .dropdown-menu
{
    display: block;

    padding: 0;
}

.sk-spinner
{
    position: fixed !important;
    top: 50%;
    left: 50%;

    transform: scale(5) translateY(-30px) !important;
}

.home h4,
.navbar
{
    font-family: Lobster !important;
}

h6
{
    font-family: OpenSans-SemiBoldItalic !important;
}

body
{
    margin-bottom: 2rem;
    padding-top: 5rem;

    -webkit-animation: Gradient 60s ease infinite;
       -moz-animation: Gradient 60s ease infinite;
            animation: Gradient 60s ease infinite;

    background: linear-gradient(-45deg, #ee7752, #f590b7, #23a6d5, #23d5ab);
    background-size: 500% 500%;
}

.panel .nav.nav-pills
{
    padding-bottom: 12px;

    justify-content: center;
}

.panel .nav-link
{
    font-family: OpenSans-SemiBoldItalic !important;

    color: black !important;
}

.panel .nav-link.active
{
    background-color: rgba(255,255,255,.7);
}

.panel .form-control.input-sm
{
    padding: 5px 10px 5px 10px;
}

.profileCover
{
    position: 50% 50%;

    display: block;

    width: 100%;
    height: 30%;
    max-height: 400px;

    object-fit: cover;
}

.profile
{
    width: 80%;
}

.panel
{
    width: 98%;
}

@media screen and (min-height: 1000px)
{
    .profile
    {
        height: calc(100vh - 15ex);
    }

    .profile .list-group
    {
        overflow-x: none;
        overflow-y: auto;

        height: 100%;
        min-height: 50px;
    }
}

.panel .list-group-item.user
{
    background-position: 50% 50% !important;
    background-size: cover;
}

.panel .badge
{
    margin-left: 1ex;
}

.panel .listItemImg
{
    display: block;

    width: auto;
    height: 50px;
    padding-right: 20px;

    object-fit: cover;
}

.profileImage
{
    display: block;
    /*    max-height: 250px;
    max-width: 250px;*/

    width: 30%;
    height: auto;
    margin-top: -20%;
    margin-left: 5%;

    object-fit: cover;
    /*padding:3px;
    border:3px solid white;*/
}

.panel .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 14pt;
    line-height: 18px;

    text-transform: uppercase;
}

.panel i,
.panel .card-title h3
{
    display: inline;

    cursor: pointer;

    border-radius: .25rem;
}

.panel i
{
    font-size: 16pt;

    display: block;

    margin-right: 0;
    margin-left: auto;
    padding: 10px;

    color: white;
    background-color: rgba(230,50,50,1);
}

.panel .card-title h3
{
    font-family: Lobster !important;

    margin: 0 4px 0 0;
    padding: 0 6px;

    background-color: rgba(255,255,255,.7);
}

.panel .card-title h4
{
    font-family: Lobster !important;
    line-height: 18px;

    display: inline;

    margin: 0 4px 0 0;
    padding: 0 6px;

    cursor: pointer;

    border: 0;
    border-radius: .125rem;
}

.profile .card-title
{
    font-family: Lobster !important;
    font-size: 8vw;

    margin-bottom: 10px;

    text-align: center;
}

.profile .card-block
{
    display: flex;
    flex-direction: column;
}

.profile .card-subtitle,
.profile .card-subtitle h4
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 3vw;

    text-align: center;
}

.profile .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 14pt;

    background-color: rgba(255, 255, 255, .3);
}

.profile input
{
    display: none;
}

.profile .alert
{
    text-align: center;
}

.profileEditButtons
{
    position: absolute;
    top: 5px;
    right: 5px;
}

.profileEditButtons .btn
{
    background-color: rgba(255, 255, 255, .5) !important;
}


@-webkit-keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

@keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}
