@font-face
{
    font-family: RobotoCondensed;

    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face
{
    font-family: Lobster;

    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face
{
    font-family: OpenSans-SemiBoldItalic;

    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

*:not(.navbar *)
{
    font-family: RobotoCondensed !important;
}

html,
body,
body > div,
.container-fluid,
body > div > div
{
    min-width: 100%;
    min-height: 100%;
}

.react-selectize .dropdown-menu
{
    display: block;

    padding: 0;
}

.sk-spinner
{
    position: fixed !important;
    top: 50%;
    left: 50%;

    transform: scale(5) translateY(-30px) !important;
}

.home h4,
.navbar
{
    font-family: Lobster !important;
}

h6
{
    font-family: OpenSans-SemiBoldItalic !important;
}

body
{
    margin-bottom: 2rem;
    padding-top: 5rem;

    -webkit-animation: Gradient 60s ease infinite;
       -moz-animation: Gradient 60s ease infinite;
            animation: Gradient 60s ease infinite;

    background: linear-gradient(-45deg, #ee7752, #f590b7, #23a6d5, #23d5ab);
    background-size: 500% 500%;
}

.profileCover
{
    display: block;

    width: 100%;
    height: 30%;

    object-fit: cover;
}

.profile
{
    width: 80%;
}

@media screen and (min-height: 1000px)
{
    .profile
    {
        height: calc(100vh - 15ex);
    }

    .profile .list-group
    {
        overflow-x: none;
        overflow-y: auto;

        height: 100%;
        min-height: 50px;
    }
}

.profileImage
{
    display: block;
    /*    max-height: 250px;
    max-width: 250px;*/

    width: 30%;
    height: auto;
    margin-top: -20%;
    margin-left: 5%;

    object-fit: cover;
    /*padding:3px;
    border:3px solid white;*/
}

.profile .card-title
{
    font-family: Lobster !important;
    font-size: 8vw;

    margin-bottom: 10px;

    text-align: center;
}

.profile .card-block
{
    display: flex;
    flex-direction: column;
}

.profile .card-subtitle,
.profile .card-subtitle h4
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 3vw;

    text-align: center;
}

.profile .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 14pt;

    background-color: rgba(255, 255, 255, .3);
}

.profile input
{
    display: none;
}

.profileEditButtons
{
    position: absolute;
    top: 5px;
    right: 5px;
}

.profileEditButtons .btn
{
    background-color: rgba(255, 255, 255, .5) !important;
}


@-webkit-keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

@keyframes Gradient
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}
