@font-face
{
    font-family: RobotoCondensed;

    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face
{
    font-family: Lobster;

    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face
{
    font-family: OpenSans-SemiBoldItalic;

    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

*:not(.navbar *)
{
    font-family: RobotoCondensed !important;
}

html,
body,
body > div,
.container-fluid,
body > div > div
{
    min-width: 100%;
}

.react-selectize .dropdown-menu
{
    display: block;

    padding: 0;
}

.sk-spinner
{
    position: fixed !important;
    top: 50%;
    left: 50%;

    transform: scale(5) translateY(-30px) !important;
}

.home
{
    margin-bottom: 2rem;
}

.home h4,
.navbar
{
    font-family: Lobster !important;
}

.navbar-dark hr
{
    border-top-color: rgba(255,255,255,.5);
}

h6
{
    font-family: OpenSans-SemiBoldItalic !important;
}

body
{
    padding-top: 5rem;
}

#background
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#background:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 200%;
    height: 100%;

    content: '';
    animation: Gradient 10s ease infinite;

    background: linear-gradient(-45deg, #1fa2ff, #a6ffcb);
}

.jumbotron
{
    height: calc(100vh - 20ex);
    margin: 20px;
}

.jumbotron .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 15pt;
}

.test
{
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
}

.slick-arrow
{
    transform: scale(2);
}

hr
{
    display: block;

    height: 3px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid black;
}

.test .card-title
{
    text-align: center;
}

.test-container
{
    padding: 20px;
}

.test-container .card
{
    height: calc(100vh - 20ex);
}

.slick-slider
{
    display: inline-block;

    width: 90%;
}

.panel .nav.nav-pills
{
    padding-bottom: 12px;

    justify-content: center;
}

.panel .nav-link
{
    font-family: OpenSans-SemiBoldItalic !important;

    color: black !important;
}

.panel .nav-link.active
{
    background-color: rgba(255,255,255,.7);
}

.panel .form-control.input-sm
{
    padding: 5px 10px 5px 10px;
}

.panel
{
    width: 98%;
}

@media screen and (min-height: 1000px)
{
    .profile
    {
        height: calc(100vh - 15ex);
    }

    .profile .list-group
    {
        overflow-x: none;
        overflow-y: auto;

        height: 100%;
        min-height: 50px;
    }
}

.panel .list-group-item.user
{
    background-position: 50% 50% !important;
    background-size: cover;
}

.panel .badge
{
    margin-left: 1ex;
}

.panel .listItemImg
{
    display: block;

    width: auto;
    height: 50px;
    padding-right: 20px;

    object-fit: cover;
}

@media screen and (max-width: 640px)
{
    .profileImage
    {
        width: 100px;
        height: 100px;
        margin-top: 70px;
        margin-left: 5%;
    }

    .profileCover
    {
        height: 150px;
    }

    .profile
    {
        width: 100%;
    }

    .img-fluid
    {
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px)
{
    .profileImage
    {
        width: 150px;
        height: 150px;
        margin-top: 45px;
        margin-left: 5%;
    }

    .profileCover
    {
        height: 150px;
    }

    .profile
    {
        width: 100%;
    }

    .img-fluid
    {
        width: 300px;
    }
}

@media screen and (min-width: 1000px)
{
    .profileImage
    {
        width: 200px;
        height: 200px;
        margin-top: 155px;
        margin-left: 5%;
    }

    .profileCover
    {
        height: 300px;
    }

    .profile
    {
        width: 80%;
    }

    .img-fluid
    {
        width: 300px;
    }
}

.profileImage
{
    position: absolute;

    animation: fly 3s ease-in-out infinite;

    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .16);

    object-fit: cover;
}

.about .card
{
    display: block;

    width: 400px;
    height: 120px;
}

.about
{
    display: inline-block;

    text-align: left;
}

.aboutContainer
{
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 10rem + 56px);

    justify-content: center;;
}

.aboutSubcontainer
{
    display: flex;

    justify-content: center;
}

.about .content
{
    display: inline;
}

.about a
{
    color: inherit;
}

.fa-vk
{
    color: #507299;
}

.fa-telegram
{
    color: #179cde;
}

.about h1
{
    font-family: Lobster !important;

    margin: 0;
    padding: 0 6px;

    text-align: center;
    white-space: nowrap;

    border: 0;
    border-radius: .125rem;
    background-color: rgba(255,255,255,.7);
}

.about .social
{
    font-size: 34pt;

    float: right;

    width: 308px;

    text-align: center;
}

.about img
{
    float: left;

    width: 90px;
    height: 120px;

    border: none;
    border-radius: .25rem 0 0 .25rem;

    object-fit: cover;
    /*box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .16);*/
}

.about > div
{
    padding: 10px;
}

.profileCover
{
    position: 50% 50%;

    display: block;

    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .16);

    object-fit: cover;
}

.panel .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 14pt;
    line-height: 18px;

    text-transform: uppercase;
}

.panel i,
.panel .card-title h3
{
    display: inline;

    cursor: pointer;

    border-radius: .25rem;
}

.panel i
{
    font-size: 16pt;

    display: block;

    margin-right: 0;
    margin-left: auto;
    padding: 10px;

    color: white;
    background-color: rgba(230,50,50,1);
}

.panel .card-title h3
{
    font-family: Lobster !important;

    margin: 0 4px 0 0;
    padding: 0 6px;

    background-color: rgba(255,255,255,.7);
}

.jumbotron h1,
.test-container .card-title,
.panel .card-title h4,
.createSideBar h4
{
    font-family: Lobster !important;
    line-height: 30px;

    display: inline;

    margin: 0 4px 0 0;
    padding: 0 6px;

    cursor: pointer;

    border: 0;
    border-radius: .125rem;
}

.profile .card-title
{
    font-family: Lobster !important;
    font-size: 8vw;

    margin-bottom: 10px;

    text-align: center;
}

.profile .card-block
{
    display: flex;
    flex-direction: column;
}

.profile .group-year,
.profile .card-subtitle,
.profile .card-subtitle h4
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 3vw;

    text-align: center;
}

.profile .list-group-item
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 14pt;

    background-color: rgba(255, 255, 255, .3);
}

.profile input
{
    display: none;
}

.profile .alert
{
    text-align: center;
}

.profileEditButtons
{
    position: absolute;
    top: 5px;
    right: 5px;
}

.profileEditButtons .btn
{
    background-color: rgba(0, 0, 0, .5) !important;
}

.test label
{
    font-family: OpenSans-SemiBoldItalic !important;
    font-size: 18pt;
}

.test .checkbox
{
    margin-left: 20px;
}

.form-check-input
{
    width: 30px;
    height: 30px;
}

.form-check-label
{
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;

    vertical-align: bottom;
}

.checkBox
{
    max-width: 10%;
}


.checkBoxLabel
{
    font-size: 16pt;

    width: 100%;
    max-width: 90%;
    padding-left: 15px;

    vertical-align: bottom;
}

.login .alert
{
    width: 100%;
    margin: 0;
    margin-top: 10px !important;
}

.createSideBar,
.test
{
    margin-bottom: 20px;
}

.img-fluid
{
    display: block;

    height: auto;
    margin: auto;

    border-radius: .25rem;

    object-fit: cover;
}

.file_upload
{
    font-size: 30px;
    line-height: 1;
    /* Для того, чтобы спозиционировать input
     относительно контейнера. */

    position: relative;
    /* Скрываем неумещающуюся часть input-а. */

    overflow: hidden;

    width: 100%;
    padding: 10px;

    text-align: center;

    border: 1px solid #ccc;
    border-radius: .25rem;
    /* Украшательство: */
    background: white;
}

.file_upload input[type=file]
{
    /* Делаем input побольше, чтобы он точно
     перекрыл контейнер. */
    font-size: 200px;
    /* Позиционируем правый верхний край
     input поверх нашего контейнера.
     Правый верхний потому как именно там
     у нас кнопка. */

    position: absolute;
    top: 0;
    right: 0;
    /*  Украшательства: */

    cursor: pointer;
    /* Делаем input невидимым. По-другому нельзя,
     иначе браузер не будет на него реагировать. */

    opacity: 0;

    filter: alpha(opacity=0);
}


@keyframes Gradient
{
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(-50%);
    }
    100%
    {
        transform: translateX(0);
    }
}

@keyframes fly
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(12px);
    }
}
